body {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.communicationContainer .communicationText .communicationTitle, .color .colorTitle, .new .newTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #717171;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: black;
}
.header .headerContainer {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .headerContainer .headerNav .headerList {
  display: flex;
}
.header .headerContainer .headerNav .headerList .headerLink {
  color: #717171;
}
.header .headerContainer .headerNav .headerList .headerItem:not(:last-child) {
  margin-right: 50px;
}
.header .headerTel {
  color: #717171;
}

.headline {
  background: #F5F5F7;
}
.headline .headlineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline .headlineContainer .headlineTitle {
  margin-top: 70px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #490E84;
  margin-bottom: 50px;
}
.headline .headlineContainer .headlineImg {
  margin-bottom: 25px;
}
.headline .headlineContainer .headlineBtn {
  display: flex;
  border: none;
  background: #490E84;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 22px 118px;
  margin-bottom: 40px;
  cursor: pointer;
}

.new {
  margin-top: 87px;
}
.new .newTitle {
  text-align: center;
  margin-bottom: 58px;
}
.new .newContent {
  display: flex;
  align-items: center;
}
.new .newContent .newText {
  max-width: 560px;
  margin-right: 190px;
}
.new .newContent .newText .newDescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #0A0A0A;
  margin-bottom: 30px;
}
.new .newContent .newText .newDescrBold {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #0A0A0A;
}

.color {
  margin-top: 140px;
}
.color .colorTitle {
  text-align: center;
  margin-bottom: 50px;
}
.color .colorList {
  display: flex;
  justify-content: space-between;
}
.color .colorList .colorItem .colorImg {
  margin-bottom: 20px;
}
.color .colorList .colorItem .colorListTitle {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #0A0A0A;
  margin-bottom: 10px;
}
.color .colorList .colorItem .colorDescr {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.communicationContainer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.communicationContainer .communicationText {
  padding: 137px 50px 0 50px;
  background: #574B63;
  display: flex;
  flex-direction: column;
}
.communicationContainer .communicationText .communicationTitle {
  color: white;
  margin-bottom: 72px;
}
.communicationContainer .communicationText .communicationInp {
  background: none;
  border: none;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 30px;
}
.communicationContainer .communicationText .communicationDescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.communicationContainer .communicationText .communicationBtn {
  border: none;
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #490E84;
  padding: 16px 81px;
  cursor: pointer;
}

.footer {
  background-color: #0A0A0A;
}
.footer .footerContainer {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footerContainer .footerPrivacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #717171;
}
.footer .footerContainer .footerTel {
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: #717171;
}

@media (min-width: 425px) and (max-width: 768px) {
  .headline .headlineContainer .headlineBtn {
    padding: 18px 90px;
  }
  .new .newContent .newText {
    margin-right: 10px;
  }
  .color .colorList {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .color .colorList .colorItem {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .communicationContainer .communicationText {
    background-color: #574B63;
    width: 1000px;
    padding-bottom: 30px;
  }
  .communicationImg_wrapper {
    display: none;
  }
}
@media (min-width: 50px) and (max-width: 426px) {
  .header .headerNav {
    display: none;
  }
  .header .headerTel {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .headline .headlineContainer .headlineTitle {
    font-size: 16px;
  }
  .headline .headlineContainer .headlineBtn {
    padding: 11px 59px;
    font-size: 14px;
  }
  .new .newTitle {
    font-size: 16px;
  }
  .new .newContent .newText {
    max-width: 100%;
    margin-right: 0px;
  }
  .new .newContent .newText .newDescrBold {
    font-size: 14px;
  }
  .new .newImgContainer {
    display: none;
  }
  .color .colorTitle {
    font-size: 16px;
  }
  .color .colorList {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .color .colorList .colorItem {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .color .colorList .colorItem .colorImg {
    margin-bottom: 1px;
  }
  .color .colorList .colorListTitle {
    font-size: 16px;
  }
  .communication .communicationContainer .communicationText {
    padding-bottom: 20px;
    padding-top: 50px;
  }
  .communication .communicationContainer .communicationText .communicationTitle {
    font-size: 16px;
  }
  .communication .communicationContainer .communicationImg_wrapper {
    display: none;
  }
  .footer .footerContainer .footerPrivacy {
    font-size: 14px;
    max-width: min-content;
  }
}

/*# sourceMappingURL=index.css.map */
